<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="baget" value="https://baget.graphicsoft.com.cn/v3/index.json" allowInsecureConnections="true" />
  </packageSources>
  <packageSourceCredentials>
    <baget>
      <add key="Username" value="Package-Management" />
      <add key="ClearTextPassword" value="dkjekcfifajy5zgnjg4tkybur6wvqyoj3yl7c6sahv6m7pvhzxza" />
    </baget>
  </packageSourceCredentials>
</configuration>